body{
    
}
.titulo, .artigo{
    color: black;
}
.posts{
    background-color: aqua;
    font-size: 16px;
    font-style:italic;
    padding: 20px;
    border:2px solid black;
    margin: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    
}
.link{
    color:black;
}

.imagem{
    border-radius: 999px;
}